<%- include('./partials/header') %>

<div class="title">
	<h1>
		<i class="archive icon"></i> Indie Gallery/独立游戏作品集
	</h1>
	<h2>
		A gallery for indie games and the stories behind them.
    </h2>
    <h2>
        这是一个独立游戏作品集，来看看它们的故事吧
    </h2>
</div>

<div class="main ui container">
    <!-- <h2>
        <i class="child icon"></i> 全部作品
    </h2>
    <hr class="abrupt"> 
        <% let count = 0 %>
        <% works.forEach( (work)=> { %>
            <% count += 1 %>
            <% if (count % 4 === 1) {%>
                <div class="ui raised link cards four column">
            <% } %>
                <% if (work.authors.length === 0) {work.authors = "作者没有留下名字"} %>
                    <div class="ui card" id=<%= work.id %> data-title=<%= work.title %> data-authors=<%= work.authors %> data-imgCount=<%= work.imgCount %> data-description="<%= work.description %>" >
                        <div class="image">
                            <img class="thumbnail" src="/<%= work.id %>/images/1.png">
                        </div>
                        <div class="content">
                            <div class="header">
                                <%= work.title %>
                            </div>
                            <div class="description">
                                <%= work.description %>
                            </div>
                        </div>
                    </div>
            <% if (count % 4 === 0) {%>
                </div>
            <% } %>
        <% }) %>
        <% if (count % 4 !== 0) {%>
            </div>
        <% } %> -->




    <h2>
		<i class="child icon"></i> 2020 CiGA Game Jam (8月14 ~ 16日)
	</h2>
    <hr class="abrupt">
    
    <h3 style="margin-block-start: 1em; margin-block-end: 1em ;">
        2020 CiGA Game Jam Theme Image <br>
        ——主题图片
    </h3>
    <img class="ui centered large image" image src="https://storage.googleapis.com/indie-gallery/misc/CGJ_theme.png">
    <!-- <img class="ui centered large image" image src="images/CGJ_theme.png"> -->
    <div class="ui hidden divider"></div>

    <p">
        这张名为 “<strong>罅隙</strong>” 的画是由<strong>邱丹丹</strong>所作。当时看到这张图片我第一时间想到的是 “<strong>锈湖</strong>” 系列。不知道你是不是这么觉得呢？
    </p>

    <hr class="smooth">

    <h3 style="text-align: left">
        来看看这些参赛的队伍是怎么通过这张图片创作出作品的吧！
    </h3>


    <% count = 0 %>
    <% works.forEach( (work)=> { %>
        <% if (work.event === "2020-CiGA") { %>
            <% count += 1 %>
            <% if (count % 4 === 1) {%>
                <div class="ui raised link cards four column">
            <% } %>
                <% if (work.authors.length === 0) {work.authors = "作者没有留下名字"} %>
                    <% let auth = [] %>
                    <% work.authors.forEach( (author) => { %>
                        <% auth.push(author.name); %>
                    <% }) %>
                    <div class="ui card" id=<%= work.id %> data-title=<%= work.title %> data-authors="<%= auth %>" data-imgCount=<%= work.imgCount %> data-description="<%= work.description %>" >
                        <div class="image">
                            <% if (work.imgCount !== 0) { %>
                                <img class="thumbnail" src="https://storage.googleapis.com/indie-gallery/<%= work.id %>/images/1.png">
                            <% } else { %>
                                <img class="thumbnail" src="/images/placeholder.png">
                            <% } %>
                        </div>
                        <div class="content">
                            <div class="header">
                                <%= work.title %>
                            </div>
                            <div class="description">
                                <%= work.description %>
                            </div>
                        </div>
                    </div>
            <% if (count % 4 === 0) {%>
                </div>
            <% } %>
        <% } %>
    <% }) %>
    <% if (count % 4 !== 0) {%>
        </div>
    <% } %>

    <!-- This is a pre-structured card that displays the detail infos about the clicked work -->
    <div class="ui celled grid hide" id="detail" data-displaying="">
            <div class="row">
                <!-- <div class="ui celled grid"> -->
                    <div class="six wide column">
                        <div class="ui raised segment">
                            <h3 id="title">
                                Game Title
                            </h3>
                            <p id="description">
                                Description
                            </p>
                            <div class="ui divider"></div>
                            <h3>
                                作者
                            </h3>
                            <h4 id="author">
                                Author
                            </h4>
                        </div>
                        <a id="link" href='#' class="ui green fluid huge button">去看看！</a>
                    </div>
                    <div class='ten wide column'>
                        <div class="row">
                            <div class="ui fluid image">
                                <img src="https://storage.googleapis.com/indie-gallery/misc/marine_vs_zergling_thumbnail.png" id="showcase">
                            </div>
                        </div>
                        <ul id="list">
                        </ul>
                    </div>
                <!-- </div> -->
            </div>
    </div>

</div>

<!-- <script>
    function onLoad() {
        let thumbs = document.querySelectorAll('.thumbnail');
        thumbs.forEach( (thumb) => {
            thumb.style.height = String(thumb.width * 9 / 16) + "px"
        })
    }
</script> -->
<script src="/scripts/home.js"></script>

<%- include('./partials/footer') %>