<%- include('./partials/header') %>

<div class="title">
	<h1>
		<i class="archive icon"></i> Indie Gallery
	</h1>
	<h2>
		A gallery for indie games and the stories behind them.
    </h2>
    <h2>
        这是一个独立游戏作品集，来看看它们的故事吧
    </h2>
</div>

<div class="main ui container">
    <h2>
        <i class="child icon"></i> All Works
    </h2>
    <hr class="abrupt">
    <div class="ui raised link cards two column">
        <% works.forEach( (work)=> { %>
            <div class="ui card" id=<%= work.id %>>
                <div class="ui placeholder">
                    <div class="image"></div>
                    <!-- <img src="#" class="thumbnail"> -->
                    <!-- <img src="images/marine_vs_zergling_thumbnail.png"> -->
                </div>
                <div class="content">
                    <div class="header">
                        <%= work.title %>
                    </div>
                    <div class="description">
                        <%= work.description %>
                    </div>
                </div>
            </div>
        <% }) %>
        <!-- <div class="ui card">
            <div class="image">
                <img src="images/marine_vs_zergling_thumbnail.png">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div> -->
    </div>


    <h2>
		<i class="child icon"></i> CiGA Game Jam
	</h2>
    <hr class="abrupt">
    <!-- <div class="row"> -->
    
    <h3 style="margin-block-start: 1em; margin-block-end: 1em ;">
        2020 CiGA Game Jam Theme Image <br>
        ——主题图片
    </h3>
    <img class="ui centered large image" image src="images/CGJ_theme.png">
    <div class="ui hidden divider"></div>
    <hr class="smooth">

    <h3 style="text-align: left">
        Below are some of the works submitted to the event <br>
    </h3>

    <div class="ui raised link cards two column">
        <!-- individual link cards are a tags -->
        <div class="ui card">
            <div class="image">
                <img src="images/CGJ_game_thumbnail.png" class="thumbnail">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="ui placeholder">
                <div class="image" style="height:200px;"></div>
                <!-- <img class="thumbnail" style="width: 100%"> -->
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="ui placeholder">
                <div class="image" style="height:200px;"></div>
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="ui placeholder">
                <div class="image" style="height:200px;"></div>
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="images/CGJ_theme.png" class="thumbnail">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="images/marine_vs_zergling_thumbnail.png" class="thumbnail">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="images/CGJ_theme.png" class="thumbnail">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="images/CGJ_game_thumbnail.png" class="thumbnail">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="images/marine_vs_zergling_thumbnail.png" class="thumbnail">
            </div>
            <div class="content">
                <div class="header">
                    Game Title
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
    </div>

    <div class="ui celled grid" id="detail" style="display:none">
            <div class="row">
                <!-- <div class="ui celled grid"> -->
                    <div class="six wide column">
                        <div class="ui raised segment">
                            <h3 id="title">
                                Game Title
                            </h3>
                            <h4 id="author">
                                Author
                            </h4>
                            <p id="description">
                                Description
                            </p>
                        </div>
                        <a id="link" href='/games' class="ui green fluid huge button">Go Take A Look!</a>
                    </div>
                    <div class='ten wide column'>
                        <!-- <div class="row">
                            <h3>
                                Game Title Here
                            </h3>
                        </div> -->
                        <div class="row">
                            <div class="ui image showcase">
                                <img src="images/marine_vs_zergling_thumbnail.png">
                            </div>
                        </div>
                        <ul class="list">
                            <li class="active">
                                <img src="images/CGJ_theme.png">
                            </li>
                            <li>
                                <img src="images/CGJ_game_thumbnail.png">
                            </li>
                            <li>
                                <img src="images/marine_vs_zergling_thumbnail.png">
                            </li>

                        </ul>
                    </div>
                <!-- </div> -->
            </div>
    </div>

</div>


<script src="/scripts/home.js"></script>

<%- include('./partials/footer') %>