<%- include('../partials/work-header') %>

<div class="title">
    <h1>
        <i class="gamepad icon"></i> <%= work.title %>
    </h1>
    <% let auth = [] %>
    <% work.authors.forEach( (author) => { %>
        <% auth.push(author.name); %>
    <% }) %>
    <h2>
        作者：<%= auth %>
    </h2>
</div>

<div class="main ui container">

    <h3>
        若想要删除作品，请输入此作品的管理密码
    </h3>
    <form action="/works/<%= work.id %>?_method=delete" method="post" class="ui form">
        <div class="field">
            <input type="text" name="password" placeholder="管理密码">
        </div>
        <button type="button" class="ui red button delete">删除</button>

        <div class="response">
            <div class="error">
                <h3>
                    <i class="close red icon"></i> 密码错误
                </h3>
            </div>

            <div class="confirm hide">
                <h3>
                    请问您确定要删除这个作品吗？
                </h3>
                <div  style="display: flex; justify-content: center;">  
                    <input type="submit" class="ui red button" value="确定删除">
                    <a href="/works/<%= work.id %>/" class="ui blue button ">返回</a>
                </div>
            </div>

        </div>

    </form>

</div>


<script src="/scripts/delete.js"></script>
<%- include('../partials/footer') %>